img {
    object-fit:  cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card {
    cursor: pointer;
    border: 1px solid white;
}

.card:hover {
    border: solid 2px rgba(226, 255, 226, 0.5);
    transform: translateY(-12px);
    box-shadow: 0px 0px 10px 10px rgba(226, 255, 226, 0.8);
}