img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
}

.card {
    cursor: pointer;
}

.card:hover {
    border: solid 3px rgb(155, 163, 167);
}