<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card mb-3 mt-4 card text-white bg-dark">
            <div class="card-body">
                <ng-template [ngIf]="type === 'image'" [ngIfElse]="notImage">
                    <img [src]="urlImage" alt="{{ 'nasaImg' | translate }}" class="img-fluid">
                  </ng-template>  
                  <ng-template #notImage>
                    <img src="../../../assets/img/image-not-found.png" class="card-img-top" alt="{{ 'imgNotFound' | translate }}">
                  </ng-template>
                <h6 class="card-subtitle mt-2">{{ explanation }}</h6>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 mb-2 d-flex justify-content-center">
    <button class="btn btn-lg btn-dark w-50" type="button" (click)="goToDashboard()">{{ "backButton" | translate }}</button>
</div>
